/* FullPopup.module.css */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000B2;
    backdrop-filter: blur(12px);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    position: relative;
    width: 340px;
    height: 540px;
    background: white;
    border-radius: 4px 0px 0px 0px;
  }
  
  .problem_number {
    position: absolute;
    top: 20px;
    left: 16px;
    padding: 6px 20px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #00D4DC;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .problem_number span {
    font-family: 'Pretendard', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    color: #27C5CB;
    min-width: 20px;
    height: 22px;
  }