.titleSpacer {
  height: 68px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

.titleContainer {
  margin: 0 25px;
  margin-top: 38px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleText {
  color: #1E1E1E;
  font-size: 20px;
  font-weight: 600;
}

.problemContainer {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  overflow-y: auto;
  height: auto;
  padding-top: 20px;
  margin-bottom: 60px;
}
