.allContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -25%;
    width: 100%;
    overflow-y: auto;
}

.mainText{
    font-size: 18px !important;
    color: #1E1E1E;
    font-weight: bold !important;
}

.buttonContainer{
    margin-bottom: 10%;
}

@media screen and (min-width: 820px) and (max-width: 1024px) {
    .mainText{
        font-size: 1.8rem !important;
    }
}