.chatbot_button {
    width: 71px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F4F4;
    border: none;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 6px 16px;
  }
  
  .chatbot_content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
  
  .chatbot_icon {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    margin: 0;
  }
  
  .chatbot_text {
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 12px;
    line-height: 14.32px;
    letter-spacing: 0;
    text-align: right;
    color: #1E1E1E;
    white-space: nowrap;
  }