.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    /*border-radius: 8px;*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 트리거 스타일링 */
.sentinel { 
    height: 1px;
    background: transparent;
}