.credit_button {
  width: 103px;
  height: 28px;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #FFC700;
  border-radius: 2px;
  padding: 5px 8px;

 }
 
 .credit_icon {
  width: 16px; 
  height: 16px;
  gap: 24px;
 }
 
 .credit_amount {
  color: #1E1E1E;
  font-family: 'Pretendard';
  font-size: 12px;   
  white-space: nowrap;  
  padding: 6px 8px 6px 8px;

 }