.credit_button {
  min-width: 103px; /* width를 min-width로 변경 */
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #FFC700;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0 12px; /* 좌우 여백 추가 */
}

.credit_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; 
}

.credit_icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  margin: 0;
}

.credit_amount {
  color: #1E1E1E;
  font-family: 'Pretendard';
  font-size: 12px;
  white-space: nowrap;
}