.credit_button {
  width: 103px;
  height: 28px;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #FFC700;
  border-radius: 2px;
  padding: 6px 20px;
  box-sizing: border-box;
 }
 
 .credit_icon {
  width: 14px;  /* 아이콘 크기 조정 */
  height: 14px;
  flex-shrink: 0;
 }
 
 .credit_amount {
  color: #1E1E1E;
  font-family: 'Pretendard';
  font-size: 12px;  
  line-height: 1; 
  font-weight: 500;
  opacity: 1;
  white-space: nowrap;  
  margin-left: 8px; 
 }