.allContainer {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.cardContainer {
  width: 80%;
  height: auto;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-top: 20px;
}

.header {
  display: flex;
  justify-content: flex-start;
}

.answerButton {
  background-color: #fff;
  border: 2px solid #19ced4;
  color: #19ced4;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
}

.inputContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputArea {
  width: 95%;
  height: auto;
  overflow-y: auto;
  min-height: 350px;
  padding: 8px;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Pretendard';
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f4f4f4;
  white-space: pre-line; 
}

.memo{
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
  .inputArea {
    min-height: 600px;
    font-size: 20px;
  }
}

@media screen and (min-width: 820px) {
  .inputArea {
    min-height: 700px;
    font-size: 25px;
  }

  .answerButton {
    font-size: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .inputArea {
    min-height: 800px;
    font-size: 30px;
  }

  .answerButton {
    font-size: 30px;
  }
}
