#root {
  max-width: 767px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}

@font-face {
  font-family: "Pretendard";
  src: url("../src/assets/fonts/PretendardVariable.woff2");
}
